<html>
<head>
<h1>My Portfolio </h1>
</head>
<body class="body_background">
<p>Name:<strong>Arun Mathew Kurian</strong></p>
<p>Age:<strong>22</p></strong>
<p>Phone number:<strong>9745970877</strong></p>
<p><%= link_to "Qualifications",say_qualification_path %></p>
<%= image_tag "images.jpg" , :class => "style_image" %>
</body>
</html>